// Nawigacja

body {
  background-color: $orangeColor;
}

.progress {
  position: relative;
  height: 20px;
  width: 40vw;
  border: 1px solid $orangeColor;
  .progress-bar {
    span {
      font-size: 0.7rem;
    }
  }
}

.logo {
  width: 55%;
  font-size: 1rem;
}

.header {
  width: 100vw;
  height: 10vh;
}

.header-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  //background: $backgroundScreens;

}
nav > ul {
  :last-child {
    padding-right: initial;
  }

  > li {
    display: inline-block;
    padding: initial;
    font-weight: 600;
    font-size: 0.8rem;
    font-style: italic;
    color: $whiteColor;
    cursor: pointer;
  }
}

nav .hamburger {
  i {
    font-size: 1.5rem;
    cursor: pointer;
    color: $orangeColor;
    border: 1px solid $orangeColor;
  }
}

.navigation_mobile {
  position: fixed;
  background-color: $orangeColor;
  top: 9vh;
  left: 0;
  width: 100%;
  li {
    display: block;
    padding-top: 15px;
    padding-left: initial;
    text-align: center;
  }
}

.Admin {
  font-weight: 600;
  font-size: 0.8rem;
  font-style: italic;
  color: $whiteColor;
}

//Login
.loginPage {

  .loginForm {

    height: 40%;
    width: 90%;
    max-width: 450px;
    max-height: 450px;
    margin: auto;
    h1 {
      font-size:1.5rem;
      padding-bottom: 20px;
    }
    h2 {
      font-size:0.8rem;
      padding-bottom: 20px;
    }
    h3 {
      font-size: 0.8rem;
      padding-top: 10px;
    }
    label {
      font-size:0.8rem;
      padding-bottom: 20px;
    }
    button {

    }
    input {
      width: 80%;
    }
    .alert {
      color: red;
      font-size: 0.7rem;
      list-style: none;
      padding-top: 20px;
      text-align: center;
    }
  }
}

//main

main {
  height: 70vh;
  margin-bottom: 10px;
}


.section1 {
  height: 85%;
  padding: 20px;
  background-color: $whiteColor;
  .messages {
    overflow-y: auto;
    width:100%;
    height: 100%;
    ul  {
      > li {
        list-style: none;
        font-size:0.8rem;
      }

    }
    span {
      color: $infoColor;
      font-weight: 600;
      font-size: 0.9rem;
    }
  }
  .users {
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    border-left: initial;
    ul  {
      > li {
        font-size:0.8rem;
        margin-top: 10px;
        padding: 3px;
      }

    }
  }

}

.section2 {
  height: 13%;
  width: 100%;
  flex-direction: column;

  .sendForm {
    height: 100%;
    width: 100%;
    input {
      width: 70%
    }
    p {
      color:$infoColor;
      font-weight: 600;
      font-size: 0.8rem;
    }
    button {
      margin-left: 10px;
    }

  }
  .EventM {
    font-size: 0.6rem;
    width: 90%;
    display: block;
  }
}

footer {
  height: 7vh;
  padding-top: 10px;
  //width: 100vw;
  //box-shadow: 0px -5px 20px rgba(50, 50, 50, 0.08);
  .footer {
    flex-direction: column;
    font-style: italic;
    color: $whiteColor;
    span {
      padding-top: 5px;
      font-size: 0.8rem;
    }
  }
}

