// Nawigacja

body {
  background-color: $orangeColor;
}

.progress {
  position: relative;
  height: 20px;
  width: 20vw;
  border: 1px solid $orangeColor;
  .progress-bar {

  }
}

.logo {
  width: 40%;
  font-size: 1.5rem;
}

.header {
  width: 100vw;
  height: 10vh;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  //background: $backgroundScreens;

}
nav > ul {
  :last-child {
    padding-right: initial;
  }

  > li {
    display: inline-block;
    padding: 0 30px;
    font-weight: 600;
    font-size: 1rem;
    font-style: italic;
    color: $whiteColor;
    cursor: pointer;
  }
}

.Admin {
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
  color: $whiteColor;
}

//Login
.loginPage {

  .loginForm {

    height: 45%;
    width: 45%;
    max-width: 450px;
    max-height: 450px;
    margin: auto;
    h1 {
      font-size:1.5rem;
      padding-bottom: 20px;
    }
    h2 {
      font-size:0.8rem;
      padding-bottom: 20px;
    }
    h3 {
      font-size: 0.8rem;
      padding-top: 10px;
    }
    label {
      font-size:0.8rem;
      padding-bottom: 20px;
    }
    button {

    }
    .alert {
      color: red;
      font-size: 0.7rem;
      list-style: none;
      padding-top: 20px;
    }
  }
}

//main

main {
  height: 70vh;
  margin-bottom: 10px;
}

.section1 {
  height: 85%;
  padding: 20px;
  background-color: $whiteColor;
  .messages {
    overflow-y: auto;
    width:77%;
    height: 100%;
    ul  {
      > li {
        list-style: none;
        font-size:0.8rem;
      }

    }
    span {
      color: $infoColor;
      font-weight: 600;
      font-size: 0.9rem;
    }
  }
  .users {
    width: 20%;
    height: 100%;
    font-size: 0.9rem;
    ul  {
      > li {
        font-size:0.8rem;
        margin-top: 10px;
        padding: 3px;
      }

    }
  }

}

.section2 {
  height: 13%;
  width: 100%;

  .sendForm {
    height: 100%;
    width: 77%;
    input {
      width: 70%
    }
    p {
      color:$infoColor;
      font-weight: 600;
      font-size: 0.8rem;
    }
    button {
     margin-left: 10px;
    }

  }
  .EventM {
    font-size: 0.8rem;
    width: 20%;
  }
}

footer {
  height: 7vh;
  padding-top: 10px;
  //width: 100vw;
  //box-shadow: 0px -5px 20px rgba(50, 50, 50, 0.08);
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    color: $whiteColor;
    span {
      font-size: 0.8rem;
    }
  }
}

